.baseImage {
  max-width: 100%;
  margin: auto;
}

.preview {
  border-radius: var(--medium-radius) var(--medium-radius) 0 0;
  overflow: hidden;
  border: 4px solid var(--dark-blue)
}

.variants {
  border: 2px solid var(--dark-blue);
  border-radius: var(--medium-radius);
  background-color: var(--medium-blue);
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  padding: 1rem;
  gap: .5rem;

}

.variant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
  border-radius: var(--medium-radius);
  background-color: #fff;
}

.variantDetails {
  flex-grow: 1;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
